#chart {
    border: 1px solid gray;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.shard {
    stroke: none;
    fill: #F6F4CD;
}

text.numchunks {
    fill: #ddd;
    font: 500 196px "Helvetica Neue";
    font-size: 200%;
    font-weight: 500;
}
